@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    background: #fff4e1;
    font-family: Arial, sans-serif;
}

/* Home */
.hero {
    text-align: center;
    padding: 80px;
    background: #ffb84d;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
.hero h1 {
    font-size: 45px;
    margin-bottom: 10px;
}
.cta-btn {
    padding: 14px 30px;
    background: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
}

/* Info Section */
.info {
    text-align: center;
    padding: 50px;
}

/* Delivery Page Layout */
.container {
    width: 90%;
    max-width: 750px;
    margin: 40px auto;
}

.page-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}

/* Box Styles */
.section-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px #00000033;
    margin-bottom: 25px;
}
.section-box h3 {
    margin-bottom: 12px;
}

/* Form Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid gray;
}

/* Bill Items */
.bill-item,
.bill-total {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 17px;
}
.bill-total {
    font-weight: bold;
    font-size: 19px;
}

/* Payment Buttons */
.payment-btn {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    background: #ff6600;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}
.payment-btn:hover {
    background: #e65c00;
}

/* Confirm Button */
.confirm-btn {
    width: 100%;
    padding: 15px;
    background: #009933;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}
.confirm-btn:hover {
    background: #007a29;
}